
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s var(--transition-duration),
        opacity var(--transition-duration) linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-duration) linear;
}

#text {
    background-color: #222222;
    padding: 10px;
    color: #f5f4f3;
    position: absolute;
    top: 100px;
    left: 50%;
    border: 2px solid;
    border-color: red;
    font-size: 30px;
    transform: translateX(-50%);
}
#Audio_Video_Control_Room {
    position: absolute;
    top: 50px;
    left: 95%;
    transform: translateX(-50%);
}
#Film_Classroom {
    position: absolute;
    top: 50px;
    left: 95%;
    transform: translateX(-50%);
}